@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Playwrite+DE+SAS&display=swap');

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 500;
}

.custom-footer {
  background-color: #1A3B55;
  color: #FEFDFE;
  padding-top: 1rem;   
  padding-bottom: 1.0rem; 
}

.footer-brand {
  color: #FEFDFE;
  font-size: 1.9rem;  
}

.text-light-gray {
  color: #EAEDEF;
}

.footer-title {
  color: #FEFDFE;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer-links li {
  margin-bottom: 0.75rem;
}

.footer-links a,
.footer-contact a {
  color: #EAEDEF;
  text-decoration: none;
  transition: color 0.3s;
  pointer-events: none; // Bloque de enlaces
}

.footer-links a:hover,
.footer-contact a:hover {
  color: #FEFDFE;
}

.footer-contact li {
  color: #EAEDEF;
}

.footer-contact i {
  color: #FEFDFE;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(254, 253, 254, 0.033);
  border-radius: 50%;
  color: #FEFDFE;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.social-link:hover {
  background-color: #FEFDFE;
  color: #FEFDFE;
  transform: translateY(-3px);
}

.footer-bottom {
  border-top: 1px solid rgba(254, 253, 254, 0.1);
  margin-top: 1rem;   
  padding-top: 0.50rem; 
}
